<div class="title text-center">
    <span style="font-size:30px;">Listing Posts
        <a href="/posts/new" , style="display:inline-block;padding:10px;margin:30px;" , class="btn btn-success">Add a post</a>
    </span>
</div>
<% if @posts.any? %>
<% @posts.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |post| %>
      <div class="col-xs-4">
        <div class="container-post text-center">
            <div class="title-post">
              <b class="glyphicon glyphicon-user" aria-hidden="true"></b>
              <b style="text-transform:capitalize;float:left;">&nbsp;&nbsp;<%= post.user.username %></b>
              <b class="text-muted" style="float:right;"><%= time_ago_in_words(post.created_at)%></b>
              <h5 style="text-transform:capitalize;padding:0 50px 0 50px;"><%= post.name %></h5>
            </div><br>
            <%= link_to post_path(post) do %>
            <%= image_tag post.image.url(:medium), width: '70%', class: "img-responsive rounded center-block", alt:"125x125" %>
            <% end %><br><br>
              <% unless post.all_tags.empty? %>
                <% post.all_tags.each do |tag| %>
                  <%= link_to '#'+tag, tag_path(tag) %>
                <% end %>
              <% end %>
            <% if post.comments %>
              <% post.comments.each do |comment|%>
              <div class="comment">
                <p><b style="text-transform:capitalize;"> <%= comment.user.username %></b> said &nbsp; " <%= comment.content %> "</p>
              </div>
              <% end %>
            <% end %><br><hr>
            <div class="btn-group" style="display: inline-flex;">
            <%= link_to new_post_comment_path(post), class:"buttonTo btn lg" do %>
                  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
              <% end %>
                <% if user_signed_in? %>
                  <% if current_user.id == post.user.id %>
                    <%= link_to edit_post_path(post), class:"buttonTo btn lg" do %>
                        <b class="glyphicon glyphicon-pencil" aria-hidden="true"></b>
                    <% end %>
                    <%= button_to post_path(post), class:"buttonTo btn lg", method: :delete do %>
                        <b class="glyphicon glyphicon-trash text-danger" aria-hidden="true"></b>
                    <% end %>
                  <% end %>
                <% end %>
            </div>
      </div>
    </div>
    <% end %>
  </div><br>
<% end %>
<% else %>
<p>No posts yet</p>
<% end %>
