<div class="title text-center">
    <span style="font-size:30px;">Listing Posts
        <a href="/posts/new" , style="display:inline-block;padding:10px;margin:30px;" , class="btn btn-success">Add a post</a>
    </span>
</div>
<% if @posts.any? %>
<% @posts.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |post| %>
      <div class="col-xs-4">
            <div class="title-post">
              <h4 style="text-transform:capitalize;"><%= post.name %></h4>
            </div>
            <%= link_to post_path(post) do %>
            <%= image_tag post.image.url(:medium), width: '70%', class: "img-responsive rounded", alt:"125x125" %>
            <% end %><br>
              <p>Posted by <b style="text-transform:capitalize;"><%= post.user.username %></b></p>
              <% unless post.all_tags.empty? %>
                <% post.all_tags.each do |tag| %>
                  <%= link_to '#'+tag, tag_path(tag) %>
                <% end %>
              <% end %>
            <% if post.comments %>
              <% post.comments.each do |comment|%>
              <div class="comment">
                <p>  <%= comment.content %> by <b style="text-transform:capitalize;"> <%= comment.user.username %></b></p>
              </div>
              <% end %>
            <% end %><br>
            <div class="buttons">
                <%= link_to 'Comment', new_post_comment_path(post), class:'btn btn-default'%>
                <% if user_signed_in? %>
                  <% if current_user.id == post.user.id %>
                    |
                    <%= link_to 'Edit', edit_post_path(post), class:'btn btn-default'%>
                    |
                    <%= link_to 'Delete', post_path(post), class:'btn btn-default', method: :delete %>
                  <% end %>
                <% end %>
            </div>
      </div>
    <% end %>
  </div><br>
<% end %>
<% else %>
<p>No posts yet</p>
<% end %>
