<div class="row text-center" style="margin:50px;font-size:25px;">
  <div class="container-post">
    <div class="container-post">
        <div class="title-post">
          <b style="text-transform:capitalize;float:left;"><i class="glyphicon glyphicon-camera" aria-hidden="true"></i>&nbsp;&nbsp;<%= @post.user.username %></b>
          <b class="text-muted" style="float:right;"><%= time_ago_in_words(@post.created_at)%></b>
          <h3 style="text-transform:capitalize;padding:0 50px 0 50px;"><%= @post.name %></h3>
        </div><br>
    <div class="picture">
        <%= image_tag @post.image.url(:large), width: "100%", class: "img-responsive rounded center-block" %>
    </div><br><br>
    <div class="post-content"style="text-align:left;">
        <p style="text-transform:capitalize">
            <b>Title:
            </b><%= @post.name %></p>

        <p><b>Tags: </b>
          <% unless @post.all_tags.empty? %>
            <% @post.all_tags.each do |tag| %>
              <%= link_to '#'+tag,tag_path(tag) %>
            <% end %>
          <% end %>
        </p>

        <p>
            <% if @post.comments %>
               <% @post.comments.each do |comment|%>
               <div class="comment">
                 <p><b style="text-transform:capitalize;"> <%= comment.user.username %></b> <span>said &nbsp; "<%= comment.content %>"</span></p>
               </div>
               <% end %>
            <% end %>
        </p><br>
      </div><br><hr>
      <div class="btn-group" style="display: inline-flex">
          <a class="buttonTo btn lg" href="/">
              <i class="glyphicon glyphicon-home"></i>
          </a>
          <% if user_signed_in? %>
          <% if current_user.id == @post.user.id %>
          <%= link_to edit_post_path(@post), class:"buttonTo btn lg" do %>
          <b class="glyphicon glyphicon-pencil" aria-hidden="true"></b>
          <% end %>
          <%= button_to post_path(@post), class:"buttonTo btn lg", method: :delete do %>
          <b class="glyphicon glyphicon-trash text-danger" aria-hidden="true"></b>
          <% end %>
          <% end %>
          <% end %>
      </div><br><br>
    </div>
  </div>
</div>
